{% if messages %}
{% for message in messages %}

<div class="messages">
    {% if message.tags == "info" %}
    <div class="alert alert-info mx-auto text-center mt-4" role="alert">
        {{ message }}
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger mx-auto text-center m-4" role="alert">
        {{ message }}
    </div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success mx-auto text-center m-4" role="alert">
        {{ message }}
    </div>

    {% endif %}
</div>

{% endfor %}
{% endif %}

<script>
    window.setTimeout(() => {
        let message = document.querySelectorAll(".messages")

        message.forEach(el => {
            el.remove()
        })
    }, 30000); //10 second
</script>
